page-map {
    .map {
        width: 100%;
        height: 100%;
    }
    .menu {
        font-size: 2.5em;
        float: right;
        margin-right: 10px;
    }
    ion-fab[bottom] {
        bottom: 25px;
    }
    .filter-size {
        width: 20px;
    }
    .filter-size2 {
        width: 24px;
    }
    .profil {
        text-align: center;
        padding-top: 20px;
    }
    .scroll-content {
        padding-bottom: 0px !important;
    }
    ion-modal {
        background-color: rgba(0, 0, 0, 0.5);
    }
    div.modal-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
    }
    ion-modal.show-page {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .md .modal-wrapper{
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-wrapper{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
ion-modal.show-page {
    background-color: rgba(0, 0, 0, 0.5);
}