<!--
  Generated template for the NewEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>newEvent</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img class="topimage" (click)="presentActionSheet()" [src]="lastImage" />
  <div class="padright">
    <ion-grid>
      <ion-row>
        <ion-col col-7>
          <ion-item>
            <ion-label>Inscription</ion-label>
            <ion-toggle checked="false"></ion-toggle>
          </ion-item>
        </ion-col>
        <ion-col col-5>
          <ion-item>
            <ion-input placeholder="Participants" type="text" value=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-input placeholder="Titre" type="text" value=""></ion-input>
      <!--TODO limiter à 17 caractètres-->
    </ion-item>

    <ion-item>
      <ion-datetime placeholder="Date" displayFormat="YYYY-MM-DD HH:mm" cancelText="Annuler" doneText="Valider"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Adresse" (click)="showModal()" [(ngModel)]="address.place"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Description" value=""></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-select multiple="true" placeholder="Catégorie">
        <ion-option value="e">Evénement</ion-option>
        <ion-option value="s">Sortie</ion-option>
        <ion-option value="p">Plein air</ion-option>
        <ion-option value="l">Loisir</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 16px;margin: 10px 0px;">
      <span style="font-size: 12px" *ngIf="TagList == null || TagList == undefined || TagList.length == 0">Pour ajouter des tags cliquez sur le plus</span>
      <ion-chip *ngFor="let tag of TagList">
        <ion-label>{{tag}}</ion-label>
        <button ion-button clear color="dark" (click)="delete(tag)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-chip>
      <button (click)="showTagModal()" class="add-tag-btn" ion-button
        round icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </div>
  </div>
  <div style="margin-left:16px;margin-right:20px;margin-bottom: 20px;">
    <button full ion-button class="sub-button">Valider</button>
  </div>
</ion-content>