<ion-header>
    <ion-navbar>
        <ion-title>Liste des événements</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <button ion-button [ngClass]="{'bg-gris':!evenement,'bc-bleu':evenement}" (click)="changeE()" class="top-btn">Evénement</button>
    <button ion-button [ngClass]="{'bg-gris':!sortie,'bc-rouge':sortie}" (click)="changeS()" class="top-btn">Sortie</button>
    <button ion-button [ngClass]="{'bg-gris':!pleinAir,'bc-vert':pleinAir}" (click)="changeP()" class="top-btn">Plein air</button>
    <button ion-button [ngClass]="{'bg-gris':!loisir,'bc-jaune':loisir}" (click)="changeL()" class="top-btn">Loisir</button>
    <ion-card [ngClass]="getColor(eventTag.event.category)" *ngFor="let eventTag of eventTagList">
        <div class="overlay">
            <div padding>
                <h2 class="medium">{{eventTag.event.title}}</h2>
                <p class="medium">
                    <b>
                        <span *ngIf="eventTag.event.startDate.getDate()<10">0</span>{{eventTag.event.startDate.getDate()}}/<span *ngIf="eventTag.event.startDate.getMonth()+1<10">0</span>{{eventTag.event.startDate.getMonth()+1}}/{{eventTag.event.startDate.getFullYear()}} à
                        <span *ngIf="eventTag.event.startDate.getHours()<10">0</span>{{eventTag.event.startDate.getHours()}}h<span *ngIf="eventTag.event.startDate.getMinutes()<10">0</span>{{eventTag.event.startDate.getMinutes()}}
                        à 
                        <span *ngIf="eventTag.event.endDate.getDate()<10">0</span>{{eventTag.event.endDate.getDate()}}/<span *ngIf="eventTag.event.endDate.getMonth()+1<10">0</span>{{eventTag.event.endDate.getMonth()+1}}/{{eventTag.event.endDate.getFullYear()}} à
                        <span *ngIf="eventTag.event.endDate.getHours()<10">0</span>{{eventTag.event.endDate.getHours()}}h<span *ngIf="eventTag.event.endDate.getMinutes()<10">0</span>{{eventTag.event.endDate.getMinutes()}}
                    </b>
                </p>
                <div *ngIf="eventTag.event.localisation != null">
                    <p class="medium">
                        <b>{{eventTag.event.localisation.adress}} {{eventTag.event.localisation.zip}}
                            {{eventTag.event.localisation.city}} {{eventTag.event.localisation.country}}
                        </b>
                    </p>
                </div>
                <p class="desc light">{{eventTag.event.description}}</p>
                <ion-grid>
                    <ion-row>
                        <ion-col col-10>
                            <span class="card-size medium" *ngFor="let tag of eventTag.tags">
                                <i>#{{tag.tag.tagName}}</i>
                            </span>
                        </ion-col>
                        <ion-col col-2>
                            <button (click)="detail(eventTag.event)" class="plus-btn" ion-button>
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </ion-card>
</ion-content>