<ion-header>

    <ion-navbar>
        <ion-title>eventList</ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <button ion-button [ngClass]="{'bg-gris':!evenement,'bc-bleu':evenement}" (click)="changeE()" class="top-btn">Evénement</button>
    <button ion-button [ngClass]="{'bg-gris':!sortie,'bc-rouge':sortie}" (click)="changeS()" class="top-btn">Sortie</button>
    <button ion-button [ngClass]="{'bg-gris':!pleinAir,'bc-vert':pleinAir}" (click)="changeP()" class="top-btn">Plein air</button>
    <button ion-button [ngClass]="{'bg-gris':!loisir,'bc-jaune':loisir}" (click)="changeL()" class="top-btn">Loisir</button>
    <ion-card [ngClass]="getColor(event.categ)" *ngFor="let event of eventList">
        <div class="overlay">
            <div padding>
                <h2 class="medium">{{event.title}}</h2>
                <p class="medium">
                    <b>
                        <span *ngIf="event.dateEvent.getDate()<10">0</span>{{event.dateEvent.getDate()}}/<span *ngIf="event.dateEvent.getMonth()+1<10">0</span>{{event.dateEvent.getMonth()+1}}/{{event.dateEvent.getFullYear()}} à
                        <span *ngIf="event.dateEvent.getHours()<10">0</span>{{event.dateEvent.getHours()}}h<span *ngIf="event.dateEvent.getMinutes()<10">0</span>{{event.dateEvent.getMinutes()}}
                    </b>
                </p>
                <div *ngIf="event.address != null">
                    <p class="medium">
                        <b>{{event.address[0].subThoroughfare}} {{event.address[0].thoroughfare}} {{event.address[0].postalCode}}
                            {{event.address[0].locality}} {{event.address[0].country}}
                        </b>
                    </p>
                </div>
                <p class="desc light">{{event.description}}</p>
                <ion-grid>
                    <ion-row>
                        <ion-col col-10>
                            <span class="card-size medium" *ngFor="let tag of event.tags">
                                <i>#{{tag}}</i>
                            </span>
                        </ion-col>
                        <ion-col col-2>
                            <button (click)="detail(event)" class="plus-btn" ion-button>
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
    </ion-card>
</ion-content>